brk_serverless.yml
---
service: bmi-results-brk
provider:
  name: aws
  runtime: python3.7
  region: eu-west-2
  package:
    individually: true
  deploymentBucket:
    name: com.serverless.${self:provider.region}.results.ons.deploys

custom:
  accounts: ${ssm:/aws/reference/secretsmanager/results-aws-accounts~true}
  accountId: ${self:custom.accounts.account-id}

  wranglers: ${ssm:/aws/reference/secretsmanager/results-bmi-sg-wranglers~true}
  ingest: ${self:custom.wranglers.ingest}
  enrichment: ${self:custom.wranglers.enrichment}
  imputation-movements: ${self:custom.wranglers.imputation-movements}
  imputation-means: ${self:custom.wranglers.imputation-means}
  imputation-iqrs: ${self:custom.wranglers.imputation-iqrs}
  imputation-atyps: ${self:custom.wranglers.imputation-atyps}
  imputation-recalc-means: ${self:custom.wranglers.imputation-recalc-means}
  imputation-calc-factors: ${self:custom.wranglers.imputation-calc-factors}
  imputation-apply-factors: ${self:custom.wranglers.imputation-apply-factors}
  aggregation-bricks-splitter: ${self:custom.wranglers.aggregation-bricks-splitter}
  aggregation-top2: ${self:custom.wranglers.aggregation-top2}
  aggregation-column: ${self:custom.wranglers.aggregation-column}
  aggregation-combiner: ${self:custom.wranglers.aggregation-combiner}
  disclosure-wrangler: ${self:custom.wranglers.disclosure-wrangler}
  all-gb-region: ${self:custom.wranglers.all-gb-region}
  error-capture: ${self:custom.wranglers.error-capture}
  method-return: ${self:custom.wranglers.method-return}

stepFunctions:
  stateMachines:
    ES-BMIBRK-Results:
      name: ES-BMIBRK-Results
      tags:
        app: results
      definition:
        Comment: Calls the lambdas required to run the BMI Bricks Survey.
        StartAt: Inputs
        States:
          Inputs:
            Next: Choice State
            Parameters:
              MessageStructure: json
              additional_aggregated_column.$: $.additional_aggregated_column
              aggregated_column.$: $.aggregated_column
              aggregation_type.$: $.aggregation_type
              cell_total_column.$: $.cell_total_column
              checkpoint.$: $.checkpoint
              disclosure_stages.$: $.disclosure_stages
              disclosivity_marker.$: $.disclosivity_marker
              distinct_values.$: $.distinct_values
              explanation.$: $.explanation
              factors_parameters.$: $.factors_parameters
              file_names.$: $.file_names
              lookups.$: $.lookups
              marine_mismatch_check.$: $.marine_mismatch_check
              movement_type.$: $.movement_type
              period.$: $.period
              periodicity.$: $.periodicity
              period_column.$: $.period_column
              publishable_indicator.$: $.publishable_indicator
              queue_url.$: $.queue_url
              questions_list.$: $.questions_list
              run_id.$: $.run_id
              stage5_threshold.$: $.stage5_threshold
              sum_columns.$: $.sum_columns
              survey.$: $.survey
              survey_column.$: $.survey_column
              threshold.$: $.threshold
              top1_column.$: $.top1_column
              top2_column.$: $.top2_column
              total_columns.$: $.total_columns
              unique_identifier.$: $.unique_identifier
            Type: Pass

          Choice State:
            Choices:
              - Next: Ingest
                NumericEquals: 0
                Variable: $.checkpoint
              - Next: Enrichment
                NumericEquals: 1
                Variable: $.checkpoint
              - Next: Imputation Calculate Movements
                NumericEquals: 3
                Variable: $.checkpoint
              - Next: Re-organise Data
                NumericEquals: 4
                Variable: $.checkpoint
            Type: Choice

          Ingest:
            Next: Enrichment
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.ingest}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            Parameters:
              RuntimeVariables:
                in_file_name.$: $.file_names.input_file
                out_file_name.$: $.file_names.ingest
                outgoing_message_group_id.$: $.file_names.ingest
                period.$: $.period
                periodicity.$: $.periodicity
                queue_url.$: $.queue_url
                run_id.$: $.run_id
            ResultPath: $.data.lambdaresult
            Type: Task

          Enrichment:
            Next: Imputation Calculate Movements
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.enrichment}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            InputPath: $
            Parameters:
              RuntimeVariables:
                in_file_name.$: $.file_names.ingest
                incoming_message_group_id.$: $.file_names.ingest
                lookups.$: $.lookups
                out_file_name.$: $.file_names.enrichment
                outgoing_message_group_id.$: $.file_names.enrichment
                marine_mismatch_check.$: $.marine_mismatch_check
                period_column.$: $.period_column
                queue_url.$: $.queue_url
                run_id.$: $.run_id
                survey_column.$: $.survey_column
            ResultPath: $.data.lambdaresult
            Type: Task

          Imputation Calculate Movements:
            Next: Should Imputation Run
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.imputation-movements}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            InputPath: $
            Parameters:
              RuntimeVariables:
                current_data.$: $.file_names.current_data
                in_file_name.$: $.file_names.enrichment
                incoming_message_group_id.$: $.file_names.enrichment
                out_file_name.$: $.file_names.imputation_calculate_movement
                out_file_name_skip.$: $.file_names.imputation_apply_factors
                outgoing_message_group_id.$: $.file_names.imputation_calculate_movement
                outgoing_message_group_id_skip.$: $.file_names.imputation_apply_factors
                movement_type.$: $.movement_type
                period.$: $.period
                period_column.$: $.period_column
                periodicity.$: $.periodicity
                previous_data.$: $.file_names.previous_data
                questions_list.$: $.questions_list
                queue_url.$: $.queue_url
                run_id.$: $.run_id
            ResultPath: $.data.lambdaresult
            Type: Task

          Should Imputation Run:
            Choices:
              - BooleanEquals: true
                Next: Calculate Means
                Variable: $.data.lambdaresult.impute
              - BooleanEquals: false
                Next: Re-organise Data
                Variable: $.data.lambdaresult.impute
            Type: Choice

          Calculate Means:
            Next: Calculate IQRS
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.imputation-means}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            InputPath: $
            Parameters:
              RuntimeVariables:
                distinct_values.$: $.distinct_values
                in_file_name.$: $.file_names.imputation_calculate_movement
                incoming_message_group_id.$: $.file_names.imputation_calculate_movement
                out_file_name.$: $.file_names.imputation_calculate_means
                outgoing_message_group_id.$: $.file_names.imputation_calculate_means
                questions_list.$: $.questions_list
                queue_url.$: $.queue_url
                run_id.$: $.run_id
            ResultPath: $.data.lambdaresult
            Type: Task

          Calculate IQRS:
            Next: Calculate Atypicals
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.imputation-iqrs}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            InputPath: $
            Parameters:
              RuntimeVariables:
                distinct_values.$: $.distinct_values
                in_file_name.$: $.file_names.imputation_calculate_means
                incoming_message_group_id.$: $.file_names.imputation_calculate_means
                out_file_name.$: $.file_names.imputation_iqrs
                outgoing_message_group_id.$: $.file_names.imputation_iqrs
                questions_list.$: $.questions_list
                queue_url.$: $.queue_url
                run_id.$: $.run_id
            ResultPath: $.data.lambdaresult
            Type: Task

          Calculate Atypicals:
            Next: Re-Calculate Means
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.imputation-atyps}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            Parameters:
              RuntimeVariables:
                in_file_name.$: $.file_names.imputation_iqrs
                incoming_message_group_id.$: $.file_names.imputation_iqrs
                out_file_name.$: $.file_names.imputation_atypicals
                outgoing_message_group_id.$: $.file_names.imputation_atypicals
                questions_list.$: $.questions_list
                queue_url.$: $.queue_url
                run_id.$: $.run_id
            ResultPath: $.data.lambdaresult
            Type: Task

          Re-Calculate Means:
            Next: Calculate Factors
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.imputation-recalc-means}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            InputPath: $
            Parameters:
              RuntimeVariables:
                distinct_values.$: $.distinct_values
                in_file_name.$: $.file_names.imputation_atypicals
                incoming_message_group_id.$: $.file_names.imputation_atypicals
                out_file_name.$: $.file_names.imputation_recalculate_means
                outgoing_message_group_id.$: $.file_names.imputation_recalculate_means
                questions_list.$: $.questions_list
                queue_url.$: $.queue_url
                run_id.$: $.run_id
            ResultPath: $.data.lambdaresult
            Type: Task

          Calculate Factors:
            Next: Apply Factors
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.imputation-calc-factors}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            InputPath: $
            Parameters:
              RuntimeVariables:
                distinct_values.$: $.distinct_values
                factors_parameters.$: $.factors_parameters
                in_file_name.$: $.file_names.imputation_recalculate_means
                incoming_message_group_id.$: $.file_names.imputation_recalculate_means
                out_file_name.$: $.file_names.imputation_calculate_factors
                outgoing_message_group_id.$: $.file_names.imputation_calculate_factors
                period.$: $.period
                period_column.$: $.period_column
                questions_list.$: $.questions_list
                queue_url.$: $.queue_url
                run_id.$: $.run_id
            ResultPath: $.data.lambdaresult
            Type: Task

          Apply Factors:
            Next: Re-organise Data
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.imputation-apply-factors}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            InputPath: $
            Parameters:
              RuntimeVariables:
                current_data.$: $.file_names.current_data
                distinct_values.$: $.distinct_values
                factors_parameters.$: $.factors_parameters
                in_file_name.$: $.file_names.imputation_calculate_factors
                incoming_message_group_id.$: $.file_names.imputation_calculate_factors
                out_file_name.$: $.file_names.imputation_apply_factors
                outgoing_message_group_id.$: $.file_names.imputation_apply_factors
                period.$: $.period
                period_column.$: $.period_column
                previous_data.$: $.file_names.previous_data
                questions_list.$: $.questions_list
                queue_url.$: $.queue_url
                run_id.$: $.run_id
                sum_columns.$: $.sum_columns
            ResultPath: $.data.lambdaresult
            Type: Task

          Re-organise Data:
            Next: Region Aggregation
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.aggregation-bricks-splitter}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            InputPath: $
            Parameters:
              RuntimeVariables:
                factors_parameters.$: $.factors_parameters
                in_file_name.$: $.file_names.imputation_apply_factors
                incoming_message_group_id.$: $.file_names.imputation_apply_factors
                out_file_name_bricks.$: $.file_names.aggregation_splitter[0]
                out_file_name_region.$: $.file_names.aggregation_splitter[1]
                queue_url.$: $.queue_url
                run_id.$: $.run_id
                total_columns.$: $.total_columns[1]
                unique_identifier.$: $.unique_identifier
            ResultPath: $.data.lambdaresult
            Type: Task

          Region Aggregation:
            Type: Parallel
            Next: Region Combiner
            ResultPath: $
            OutputPath: $[0]
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            Branches:
              - StartAt: passRuntime
                States:
                  passRuntime:
                    Type: Pass
                    End: true

              - StartAt: Region County Total
                States:
                  Region County Total:
                    Type: Task
                    InputPath: $
                    Parameters:
                      RuntimeVariables:
                        additional_aggregated_column.$: $.additional_aggregated_column
                        aggregation_type.$: $.aggregation_type[1]
                        aggregated_column.$: $.aggregated_column[0]
                        cell_total_column.$: $.cell_total_column[0]
                        in_file_name.$: $.file_names.aggregation_splitter[1]
                        incoming_message_group_id.$: $.file_names.aggregation_splitter[1]
                        out_file_name.$: $.file_names.aggregation_by_column[1]
                        outgoing_message_group_id.$: $.file_names.aggregation_by_column[1]
                        queue_url.$: $.queue_url
                        run_id.$: $.run_id
                        total_columns.$: $.total_columns[1]
                    Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.aggregation-column}"  # yamllint disable-line rule:line-length
                    End: true

              - StartAt: Region EntRef Count
                States:
                  Region EntRef Count:
                    Type: Task
                    InputPath: $
                    Parameters:
                      RuntimeVariables:
                        additional_aggregated_column.$: $.additional_aggregated_column
                        aggregation_type.$: $.aggregation_type[0]
                        aggregated_column.$: $.aggregated_column[0]
                        cell_total_column.$: $.cell_total_column[1]
                        in_file_name.$: $.file_names.aggregation_splitter[1]
                        incoming_message_group_id.$: $.file_names.aggregation_splitter[1]
                        out_file_name.$: $.file_names.aggregation_ent_ref[1]
                        outgoing_message_group_id.$: $.file_names.aggregation_ent_ref[1]
                        queue_url.$: $.queue_url
                        run_id.$: $.run_id
                        total_columns.$: $.total_columns[0]
                    Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.aggregation-column}"  # yamllint disable-line rule:line-length
                    End: true

              - StartAt: Region Calculate Top2
                States:
                  Region Calculate Top2:
                    Type: Task
                    InputPath: $
                    Parameters:
                      RuntimeVariables:
                        additional_aggregated_column.$: $.additional_aggregated_column
                        aggregated_column.$: $.aggregated_column[0]
                        in_file_name.$: $.file_names.aggregation_splitter[1]
                        incoming_message_group_id.$: $.file_names.aggregation_splitter[1]
                        out_file_name.$: $.file_names.aggregation_top2[1]
                        outgoing_message_group_id.$: $.file_names.aggregation_top2[1]
                        queue_url.$: $.queue_url
                        run_id.$: $.run_id
                        top1_column.$: $.top1_column
                        top2_column.$: $.top2_column
                        total_columns.$: $.total_columns[1]
                    Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.aggregation-top2}"  # yamllint disable-line rule:line-length
                    End: true

          Region Combiner:
            Next: Region Disclosure
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.aggregation-combiner}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            ResultPath: $.data.lambdaresult
            OutputPath: $
            InputPath: $
            Parameters:
              RuntimeVariables:
                additional_aggregated_column.$: $.additional_aggregated_column
                aggregated_column.$: $.aggregated_column[0]
                in_file_name.$: $.file_names.aggregation_splitter[1]
                incoming_message_group_id.$: $.file_names.aggregation_splitter[1]
                out_file_name.$: $.file_names.aggregation_combiner[1]
                outgoing_message_group_id.$: $.file_names.aggregation_combiner[1]
                queue_url.$: $.queue_url
                run_id.$: $.run_id
            Type: Task

          Region Disclosure:
            Next: Brick Aggregation
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.disclosure-wrangler}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            InputPath: $
            Parameters:
              RuntimeVariables:
                cell_total_column.$: $.cell_total_column[0]
                disclosivity_marker.$: $.disclosivity_marker
                disclosure_stages.$: $.disclosure_stages
                explanation.$: $.explanation
                in_file_name.$: $.file_names.aggregation_combiner[1]
                incoming_message_group_id.$: $.file_names.aggregation_combiner[1]
                out_file_name.$: $.file_names.disclosure[1]
                outgoing_message_group_id.$: $.file_names.disclosure[1]
                parent_column.$: $.cell_total_column[1]
                publishable_indicator.$: $.publishable_indicator
                queue_url.$: $.queue_url
                run_id.$: $.run_id
                stage5_threshold.$: $.stage5_threshold
                threshold.$: $.threshold
                top1_column.$: $.top1_column
                top2_column.$: $.top2_column
                total_columns.$: $.total_columns[1]
                unique_identifier.$: $.unique_identifier[1:]
            ResultPath: $.data.lambdaresult
            Type: Task

          Brick Aggregation:
            Type: Parallel
            Next: Brick Combiner
            ResultPath: $
            OutputPath: $[0]
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            Branches:
              - StartAt: Brick passRuntime
                States:
                  Brick passRuntime:
                    Type: Pass
                    End: true

              - StartAt: Brick County Total
                States:
                  Brick County Total:
                    Type: Task
                    InputPath: $
                    Parameters:
                      RuntimeVariables:
                        additional_aggregated_column.$: $.additional_aggregated_column
                        aggregation_type.$: $.aggregation_type[1]
                        aggregated_column.$: $.aggregated_column[1]
                        cell_total_column.$: $.cell_total_column[0]
                        in_file_name.$: $.file_names.aggregation_splitter[0]
                        incoming_message_group_id.$: $.file_names.aggregation_splitter[0]
                        out_file_name.$: $.file_names.aggregation_by_column[0]
                        outgoing_message_group_id.$: $.file_names.aggregation_by_column[0]
                        queue_url.$: $.queue_url
                        run_id.$: $.run_id
                        total_columns.$: $.total_columns[1]
                    Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.aggregation-column}"  # yamllint disable-line rule:line-length
                    End: true

              - StartAt: Brick EntRef Count
                States:
                  Brick EntRef Count:
                    Type: Task
                    InputPath: $
                    Parameters:
                      RuntimeVariables:
                        additional_aggregated_column.$: $.additional_aggregated_column
                        aggregation_type.$: $.aggregation_type[0]
                        aggregated_column.$: $.aggregated_column[1]
                        cell_total_column.$: $.cell_total_column[1]
                        in_file_name.$: $.file_names.aggregation_splitter[0]
                        incoming_message_group_id.$: $.file_names.aggregation_splitter[0]
                        out_file_name.$: $.file_names.aggregation_ent_ref[0]
                        outgoing_message_group_id.$: $.file_names.aggregation_ent_ref[0]
                        queue_url.$: $.queue_url
                        run_id.$: $.run_id
                        total_columns.$: $.total_columns[0]
                    Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.aggregation-column}"  # yamllint disable-line rule:line-length
                    End: true

              - StartAt: Brick Calculate Top2
                States:
                  Brick Calculate Top2:
                    Type: Task
                    InputPath: $
                    Parameters:
                      RuntimeVariables:
                        additional_aggregated_column.$: $.additional_aggregated_column
                        aggregated_column.$: $.aggregated_column[1]
                        in_file_name.$: $.file_names.aggregation_splitter[0]
                        incoming_message_group_id.$: $.file_names.aggregation_splitter[0]
                        out_file_name.$: $.file_names.aggregation_top2[0]
                        outgoing_message_group_id.$: $.file_names.aggregation_top2[0]
                        queue_url.$: $.queue_url
                        run_id.$: $.run_id
                        top1_column.$: $.top1_column
                        top2_column.$: $.top2_column
                        total_columns.$: $.total_columns[1]
                    Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.aggregation-top2}"  # yamllint disable-line rule:line-length
                    End: true

          Brick Combiner:
            Next: Brick Disclosure
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.aggregation-combiner}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            ResultPath: $.data.lambdaresult
            OutputPath: $
            InputPath: $
            Parameters:
              RuntimeVariables:
                additional_aggregated_column.$: $.additional_aggregated_column
                aggregated_column.$: $.aggregated_column[1]
                in_file_name.$: $.file_names.aggregation_splitter[0]
                incoming_message_group_id.$: $.file_names.aggregation_splitter[0]
                out_file_name.$: $.file_names.aggregation_combiner[0]
                outgoing_message_group_id.$: $.file_names.aggregation_combiner[0]
                queue_url.$: $.queue_url
                run_id.$: $.run_id
            Type: Task

          Brick Disclosure:
            Next: Success
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.disclosure-wrangler}"  # yamllint disable-line rule:line-length
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: Failure
            InputPath: $
            Parameters:
              RuntimeVariables:
                cell_total_column.$: $.cell_total_column[0]
                disclosivity_marker.$: $.disclosivity_marker
                disclosure_stages.$: $.disclosure_stages
                explanation.$: $.explanation
                in_file_name.$: $.file_names.aggregation_combiner[0]
                incoming_message_group_id.$: $.file_names.aggregation_combiner[0]
                out_file_name.$: $.file_names.disclosure[0]
                outgoing_message_group_id.$: $.file_names.disclosure[0]
                parent_column.$: $.cell_total_column[1]
                publishable_indicator.$: $.publishable_indicator
                queue_url.$: $.queue_url
                run_id.$: $.run_id
                stage5_threshold.$: $.stage5_threshold
                threshold.$: $.threshold
                top1_column.$: $.top1_column
                top2_column.$: $.top2_column
                total_columns.$: $.total_columns[1]
                unique_identifier.$: $.unique_identifier[:2]
            ResultPath: $.data.lambdaresult
            Type: Task

          Success:
            End: true
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.method-return}"  # yamllint disable-line rule:line-length
            InputPath: $
            ResultPath: $.data.lambdaresult
            Type: Task

          Failure:
            End: true
            Resource: "arn:aws:lambda:eu-west-2:${self:custom.accountId}:function:${self:custom.error-capture}"  # yamllint disable-line rule:line-length
            InputPath: $
            ResultPath: $.data.lambdaresult
            Type: Task

plugins:
  - serverless-step-functions
